.profile-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 50vh;
    margin-top: 30px;
}

.profile-box {
    width: 25vw;
    min-width: 250px;
    max-width: 400px;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: "K2D"
}

.profile-box h2 {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
}

.profile-info p {
    font-size: 16px;
    margin-bottom: 10px;
}

.edit-profile-btn {
    border: none;
    background-color: #1F6336;
    color: white; /* Green color to match theme */
    font-size: 16px;
    cursor: pointer;
    text-decoration: underline;
    padding: 5px 0;
    margin-top: 5px;
    
}

.edit-profile-btn:hover {
    background-color: #174729; /* Darker green for hover effect */
    outline: none;
}

.disclaimer-box{
    margin-top: 10px;
    padding: 20px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    line-height: 1.6;
    font-size: 14px;
    color: #555;
    font-family: "K2D";
    width: 90%; /* Keeps it responsive */
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.disclaimer-box h3 {
    font-size: 18px;
    margin-bottom: 12px;
    color: #333;
}

.disclaimer-box p {
    margin-bottom: 12px;
    text-align: justify;
}